---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE } from "../lib/site";

import HeroSection from "../components/home/HeroSection.astro";
import SocialProofSection from "../components/home/SocialProofSection.astro";
import BenefitsSection from "../components/home/BenefitsSection.astro";
import MethodSection from "../components/home/MethodSection.astro";
import CourseSection from "../components/home/CourseSection.astro";
import FAQSection from "../components/home/FAQSection.astro";
import FreeTipsSection from "../components/home/FreeTipsSection.astro";
---

<BaseLayout
  title={`${SITE.brandLine}`}
  description="A guided face fitness course for women. Natural methods combining tongue posture, breathing and soft tissue work."
>
  <main>
    <HeroSection />
    <SocialProofSection />
    <BenefitsSection />
    <MethodSection />
    <CourseSection />
    <FAQSection />
    <FreeTipsSection />
  </main>
</BaseLayout>
