---
import Container from "./ui/Container.astro";
import Button from "./ui/Button.astro";
import { getCheckoutUrl } from "../lib/checkout";

const checkoutUrl = getCheckoutUrl({ content: "header" });
---
<header class="header">
  <Container>
    <div class="header__inner">
      <a class="logo" href="/">Face Fitness</a>

      <nav class="nav" aria-label="Primary">
        <a href="/#course">Course</a>
        <a href="/#method">Method</a>
        <a href="/#proof">Results</a>
        <a href="/#faq">FAQ</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </nav>

      <div class="header__cta">
        <Button href={checkoutUrl} variant="primary">Join the course</Button>
      </div>
    </div>
  </Container>
</header>
